/* reset dei margini e dei padding per tutti gli elementi */
* {
  margin: 0;
  padding: 0;
}

/* stile per l'header */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* stile per il titolo nell'header */
header h1 {
  font-size: 36px;
  font-weight: bold;
}

/* stile per il menu di navigazione nell'header */
header nav ul {
  list-style: none;
  display: flex;
}

/* stile per ogni voce di menu nel menu di navigazione */
header nav li {
  margin-left: 20px;
}

/* stile per ogni link all'interno del menu di navigazione */
header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* stile per il titolo principale della pagina */
main h2 {
  font-size: 28px;
  margin: 40px 0;
}

/* stile per il sottotitolo della pagina */
main h3 {
  font-size: 24px;
  margin: 20px 0;
}

/* stile